---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>solid-umbrella</title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="/style.css?v={{site.version}}">
        <link rel="shortcut icon" href="/favicon.ico">
        <script src="https://kit.fontawesome.com/73bf1ec75c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="main">
            <div class="container">
                <div class="center">
                    <img class="hero-logo" alt="An umbrella anchored in some solid bricks" src="logo.png" />
                    <h1>solid-umbrella</h1>
                    <p class="lead">A CTF team at the Bergen County Academies</p>
                    <p class="links"><a href="{{site.github}}">GitHub <i class="far fa-arrow-right"></i></a> <a href="{{site.ctftime}}">CTFTime <i class="far fa-arrow-right"></i></a> <em style="opacity: 0.5;">wiki coming soon!</em></p>
                    <p>What happens when you leave the team name up to GitHub's amazing repository name suggestions? Why, you get <strong>solid-umbrella</strong>, of course!</p>
                    <p>A group of high school friends mucking about, and also occasionally learning more stuff about how computers work (and how to hack them).</p>
                    <h5 class="section-title">Who we are</h5>
                    <div class="members">
                        {% for member in site.data.members %}
                        <div class="member">
                            <img alt="GitHub avatar for {{member.github}}" src="https://avatars.githubusercontent.com/{{member.github}}?size=240" class="member-avatar" />
                            <h4>{{member.name}}</h4>
                            <p>{{member.github}}</p>

                            {% if member.web %}
                            <a href="{{member.web}}" target="_blank"><span class="sr-only">Website</span><i class="far fa-globe"></i></a>
                            {% endif %}

                            {% if member.email %}
                            <a href="mailto:{{member.email}}" target="_blank"><span class="sr-only">Email</span><i class="far fa-envelope"></i></a>
                            {% endif %}

                            {% if member.github %}
                            <a href="https://github.com/{{member.github}}" target="_blank"><span class="sr-only">GitHub</span><i class="fab fa-github"></i></a>
                            {% endif %}

                            {% if member.twitter %}
                            <a href="https://twitter.com/{{member.twitter}}" target="_blank"><span class="sr-only">Twitter</span><i class="fab fa-twitter"></i></a>
                            {% endif %}

                            {% if member.linkedin %}
                            <a href="{{member.linkedin}}" target="_blank"><span class="sr-only">LinkedIn</span><i class="fab fa-linkedin"></i></a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <h5 class="section-title">CTFs we've done</h5>
                    <ul class="ctfs">
                        {% for ctf in site.data.ctfs %}
                        <li><a href="{{ctf.url}}" target="_blank">{{ctf.name}} <i class="far fa-external-link"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
